/* AngularJS Cloak */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.text-left.catLogo {
    font-family: fantasy;
    text-transform: uppercase;
    text-rendering: optimizeSpeed;
    text-shadow: 3px 3px #E4E3E3;
}


/* Global */

html {
    background: #d7d7d7;
}


/*footer*/

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    border-top: 1px dashed #e0e0e0;
    background: #e0e0e0;
    color: #1b1b1b;
    font-family: initial;
    padding: 5px;
}

.footer>a {
    color: #000000;
    text-decoration: none;
}

.footer>a:hover {
    color: #3e3e94;
    text-decoration: none;
}


/* Main */

.main-container {
    background: rgba(35, 35, 35, 0.18);
}

.main-banner {
    height: 285px;
    margin-top: -20px;
    border-bottom: 1px solid #c0c0c0;
    box-shadow: 6px 4px 9px #A5A5A5;
}

.ads-center {
    padding: 25px;
}

h1.tiles-icons {
    margin-top: 0px;
}

h3.tiles-title {
    font-family: fantasy;
    color: #337ab7;
}

h3.tiles-title>a {
    color: #337ab0;
    text-decoration: none;
}

h3.tiles-title>a:hover {
    color: #6fa1cc;
    text-decoration: none;
}


/* Products */

.productImg {
    background: #fff;
    border: 1px #FFF solid;
    border-radius: 8px;
    padding: 2px;
    box-shadow: 2px 2px 10px rgba(136, 84, 84, 0.16);
}