<div class="container">
    <h1>
        <b># Best Deals</b>
    </h1>
    <div ng-repeat="item in todos">
        <div class="row">
            <div class="col-md-5">
                <a href="#/Products/Category/Groceries/{{item.sku}}">
                    <h3>
                        {{item.name}}</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a href="#/Products/Category/Groceries/{{item.sku}}">
                    <img ng-src="{{item.image}}" />
                </a>
            </div>
            <div class="col-md-11">
                <ins>Description : </ins>
                <small>{{item.description}}</small>
            </div>
        </div>
    </div>
</div>