<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h2>{{info.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img class="productImg" ng-src="{{info.image}}" width="90%" />
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        Product Name: {{info.name}}
                    </li>
                    <li>
                        Retail Price: {{info.retail_price}}
                    </li>
                    <li>
                        Price: {{info.price}}
                    </li>
                    <li>
                        Quantity: {{info.quantity}}
                    </li>
                    <li>
                        Color: {{info.skin_color}}
                    </li>
                    <li>
                        Genre: {{info.gender}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>