<div class="container">

    <ol class="breadcrumb" style="margin-bottom: 5px;">
      <li>
        <a href="#/">Home</a>
      </li>
      <li>
        <a href="#/Products/Categories/">Categories</a>
      </li>
      <li class="#/Products/Category/Jewelry">Jewelry</li>
    </ol>

    <br/>


    <div class="col-lg-4">
      <div class="jumbotron">
        <h3>Hot Deals !</h3>
        <ul>
          <li class="itemHolder" ng-repeat="item in todos">
            <a href="#/Products/Category/Jewelry/{{item.sku}}">
              <div>
                <h3>
                  {{item.product_title}}</h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="jumbotron">
        <h3>Best Internet Deals</h3>
      <ul>
        <li class="itemHolder" ng-repeat="item in todos">
          <a href="#/Products/Category/Jewelry/{{item.sku}}">
            <div>
              <h3>
                {{item.product_title}}</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

<div class="col-lg-4">
    <div class="row">
    <div class="jumbotron">

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sadie2012-Template -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-6091911878727341"
     data-ad-slot="2955137314"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    </div>
    </div>

    <div class="row">
    <div class="jumbotron">

<p><h3>SIGN UP TO NEWSLETTER</h3></p>

    </div>
    </div>

    <div class="row">
    <div class="jumbotron">

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Sadie2012-Template -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-6091911878727341"
       data-ad-slot="2955137314"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

    </div>
    </div>
</div>


</div>
