<div ng-repeat="item in todos">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <a href="#/Products/Category/Groceries/{{item.sku}}">
                    <h3>{{item.name}}</h3>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/Products/Category/Groceries/{{item.sku}}">
                    <img ng-src="{{item.image}}">
                </a>
            </div>

            <div class="col-md-6">

                <ins>
                  Description
                </ins>:

                <small>{{item.description}}</small>

                <br /><br />
                <a ng-href="#/Products/Category/Groceries/{{item.sku}}" class="btn btn-success">
                  View Product
                </a>
            </div>
        </div>

    </div>


</div>